.nav-bar-container {
  top: 0;
  right: 0;
  left: 0;
  position: fixed;
  z-index: 100;
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h2{padding: 0px 72px;}

}

h2,
p,
span {
  color: #fff;
}

.user-profile {
  display: flex;
  align-items: center;
  cursor: pointer;
  p {
    font-size: 18px;
  }
  img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
  }
}


@media screen and (max-width: 550px) {
  h2 {
    display: none;
  }
  .user-profile {
    display: none;
  }
}
